<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>FY Moodle</title>
    <link href="../css/install.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="content-wrapper">
      <div class="about">
        <h1 class="title">FY Moodle</h1>
        <br>
        <p>
          Obrigado por instalar o FY Moodle.
        </p>
        <p>
          Para usar a extensão simplesmente abra o Moodle e comece um teste.
          <br>
          Se tivermos a resposta um botão aparecerá do lado da questão, com ele é possível verificar sua resposta.
        </p>
        <br><br><br>
        <p class="about__update">Veja o projeto no <a href="https://github.com/jovit/fy-moodle" target="_blank">Github</a></p>
      </div>
    </div>
  </body>
</html>
