<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>FY Moodle</title>
    <link href="../css/install.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="content-wrapper">
      <div class="about">
        <h1 class="title">FY Moodle</h1>
        <br>
        <p>
          <span id="welcome_page_thanks"></span>
        </p>
        <p>
          <span id="welcome_page_instructions_start"></span>
          <br>
          <span id="welcome_page_instructions_explaination"></span>
        </p>
        <br><br><br>

        <p class="about__update">
          <span id="welcome_page_git"></span>
          <a href="https://github.com/jovit/fy-moodle" target="_blank">Github</a>
        </p>
      </div>
    </div>
  </body>

  <script src="../js/welcome.js"></script>
</html>
