<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>FY Moodle</title>
    <link href="../css/install.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="content-wrapper">
      <div class="about">
        <h1 class="title">FY Moodle</h1>
        <br>
        <p>
          <script>document.write(chrome.i18n.getMessage('welcome_page_thanks'))</script>
        </p>
        <p>
          <script>document.write(chrome.i18n.getMessage('welcome_page_instructions_start'))</script>
          <br>
          <script>document.write(chrome.i18n.getMessage('welcome_page_instructions_explaination'))</script>
        </p>
        <br><br><br>

        <p class="about__update">
          <script>document.write(chrome.i18n.getMessage('welcome_page_git'))</script>
          <a href="https://github.com/jovit/fy-moodle" target="_blank">Github</a>
        </p>
      </div>
    </div>
  </body>
</html>
